<!DOCTYPE html>
<html>
<head>
    <title>Cập nhật hàng</title>
</head>
<body>
    <h1>Cập nhật hàng</h1>
    <form action="/update" method="post">
        <label for="ten_hang">Tên hàng:</label>
        <input type="text" id="ten_hang" name="ten_hang" required>
        <br><br>
        <label for="so_luong">Số Lượng:</label>
        <input type="text" id="so_luong" name="so_luong" required>
        <br><br>
        <label for="gia_nhap">Giá Nhập:</label>
        <input type="text" id="gia_nhap" name="gia_nhap" required>
        <br><br>
        <label for="gia_ban">Giá bán:</label>
        <input type="text" id="gia_ban" name="gia_ban" required>
        <br><br>
        <input type="submit" value="Cập nhật hàng">
    </form>
</body>
</html>